*.pdf
*.c
*.h
*.json
*.sh
*.docx
tp2
*.html
*.txt
a.out
phil
val
Makefile
.DS_Store
valider
makefile
*makefile
*readme.md
*README.md
README
*DS_Store
*Makefile
TP2
_MACOSX/
*.rar
*.tmp
main
*resultat
résultat
*assignsubmission*
*.o
tp2/

__MACOSX
*.odt
*.md
!Note.md
!liste_INF3173_600.md
!liste_INF3173_600.pdf
!liste_INF3173_601.md
!liste_INF3173_601.pdf
!./README.md


node_modules